.contact-page {
    width: 100%;
    height: 100vh;
    display: flex;
  
    justify-content: center;
  
    .main-container {
      padding-top: 11vh;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      gap: 16vw;
      .heading-text {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
      }
    }
  
    .btn-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      .btn-send {
        margin-top: 1rem;
        .btn-desend {
          padding: 0.5rem 3rem 0.5rem 3rem;
          background-color: #2e2e2e;
          color: #d7ddc8;
          font-size: 1rem;
        }
      }
    }
  
    .textfield-de {
      margin: 1.4rem 0rem 1.4rem 0rem;
    }
  
    .cn-dds-app {
      display: flex;
      flex-direction: row;
      gap: 1.6vw;
    }
    .icon-dds-app {
      font-size: 6vh;
    }
    .content-name {
      font-family: 1rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .heading-app-name {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }