body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "NanumGothic";
  src: local("NanumGothic"),
    url("./fonts/NanumGothic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./fonts/popins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("./fonts/Rubik-Regular.ttf") format("truetype");
}
